@model PaginatedList<Post>

@using Microsoft.AspNetCore.Identity

@inject AcademicShareDbContext _context
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Posts";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Posts.css">
}

<div>
    <h1 class="display-4">Posts</h1>
    <p class="lead">Welcome to the posts page. Here you can see all the posts that have been created by the users.</p>
</div>

@Html.Partial("_SearchPostPartial", Model)

<div class="d-flex justify-content-start mt-4">
    <a asp-action="Create" asp-controller="Posts">
        <button class="btn btn-primary" type="submit">
            Make a Post
            <i class="fa-solid fa-pencil"></i>
        </button>
    </a>
    <a asp-controller="Profile" asp-action="Index" asp-route-UserName="@ViewBag.User.UserName">
        <button class="btn btn-primary mx-3" type="submit">
            View Profile
            <i class="fa-solid fa-address-card"></i>
        </button>
    </a>
    <a asp-controller="Posts" asp-action="LikedPosts" asp-route-UserName="@ViewBag.User.UserName">
        <button class="btn btn-primary" type="submit">
            View Liked Posts
            <i class="fa-solid fa-heart"></i>
        </button>
    </a>
</div>
<hr>

@Html.Partial("_PostPagePartial", Model)
