@model PaginatedList<Post>

@section Styles {
    <link rel="stylesheet" href="~/css/Posts.css">
}

<div>
    <h1 class="display-4">Liked Posts</h1>
    <p class="lead">Here you can see all the posts you liked</p>
</div>


@if (Model.Count.Equals(0))
{
    <div class="alert alert-info" role="alert">
        You haven't liked any posts yet. Click <a href="/Posts">here</a> to see all posts.
    </div>
}
else
{
    @Html.Partial("_SearchPostPartial", Model)
    <div class="d-flex justify-content-start mt-4">
        <a asp-action="Create" asp-controller="Posts">
            <button class="btn btn-primary" type="submit">
                Make a Post
                <i class="fa-solid fa-pencil"></i>
            </button>
        </a>
        <a asp-controller="Profile" asp-action="Index" asp-route-UserName="@ViewBag.User.UserName">
            <button class="btn btn-primary mx-3" type="submit">
                View Profile
                <i class="fa-solid fa-address-card"></i>
            </button>
        </a>
        <a asp-controller="Posts" asp-action="Index" asp-route-UserName="@ViewBag.User.UserName">
            <button class="btn btn-primary" type="submit">
                View All Posts
                <i class="fa-solid fa-newspaper"></i>
            </button>
        </a>
    </div>
    <hr>
    <partial name="_PostPagePartial" model="@Model" />
}
