.card {
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-body {
    -ms-flex: 1 1 auto;
    background-color: rgb(207, 221, 230);
    flex: 1 1 auto;
    padding: 1.25rem;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

.card {
    border: rgb(29, 46, 56) solid 2px;
}

html body .m-b-0 {
    margin-bottom: 0px
}

h3 {
    line-height: 30px;
    font-size: 21px
}

.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}


.btn-primary,
.btn-primary.disabled {
    background: #095681;
    border: 1px solid #095681;
    -webkit-box-shadow: 0 2px 2px 0 rgba(96, 98, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    box-shadow: 0 2px 2px 0 rgba(96, 134, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
    color: #18343f;
    font-family: "Jost", sans-serif;
    font-weight: 900;
    text-decoration-line: none;
    text-decoration: none;
}