@model ViewProfileDto

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop"
    aria-labelledby="offcanvasWithBackdropLabel">

    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">

        <form method="post" asp-action="Index" enctype="multipart/form-data">
            <h2>Update your Profile</h2>
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Profile.UserProfileId" />
            <input type="hidden" asp-for="Profile.ProfilePicture" />
            <input type="hidden" asp-for="Profile.Banner" />
            <div class="form-floating mb-3">
                <input asp-for="Profile.FullName" class="form-control" />
                <label asp-for="Profile.FullName" class="form-label">Full Name</label>
                <span asp-validation-for="Profile.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Profile.Bio" class="form-control" aria-required="true" />
                <label asp-for="Profile.Bio" class="form-label">Bio</label>
                <span asp-validation-for="Profile.Bio" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Profile.Location" class="form-control" aria-required="true" />
                <label asp-for="Profile.Location" class="form-label">Location</label>
                <span asp-validation-for="Profile.Location" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Profile.Website" class="form-control" aria-required="true" />
                <label asp-for="Profile.Website" class="form-label">Website</label>
                <span asp-validation-for="Profile.Website" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Profile.BirthDate" class="form-control" aria-required="true" type="date" />
                <label asp-for="Profile.BirthDate" class="form-label">Date Of Birth</label>
                <span asp-validation-for="Profile.BirthDate" class="text-danger"></span>
            </div>
            <div class="col-4">
                <img src="htttps://placehold.js/150x150" id="PrevImg" class="img-thumbnail" style="width:100px;height:100px" />
            </div>
            <div class="mb-3">
                <label asp-for="Profile.BannerFile" class="form-label">Banner</label>
                <input type="file" id="ChosseImg" asp-for="Profile.BannerFile" class="form-control" aria-required="true" />
                <span asp-validation-for="Profile.BannerFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Profile.ProfilePictureFile" class="form-label">Profile Picture</label>
                <input type="file" asp-for="Profile.ProfilePictureFile" class="form-control" placeholder="@Model.Profile.ProfilePicture"/>
                <span asp-validation-for="Profile.ProfilePictureFile" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="imgLoad.js" />
}